body {
    background-color: #808080;
    font-family: sans-serif;
    color: #FFFFFF;
    border: 20px double #FFF; 
    padding: 10% 20% 20% 20%; 
}

h1 {
    text-align: center;
    color: #ff7f50;
    font-size: 90px;
    text-shadow: 4px 2px #FFFFFF; 
}

h2 {
    color: #ff7f50;
    font-size: 50px;
}
h3 {
    color: #ff7f50;
    font-size: 50px;
}

p {
    color: #ffdab9; 
    font-size: 30px;
    font-family: monospace;
}
date {
    font-size: 20px;
}

li {
    font-size: 20px;
    letter-spacing: 3px; 
}

a {
    color: #fa8072; 
    font-size: 20px; 
}
    
    